---
layout: default
---
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.name }}</title>
  </head>
  
  <body>
      <br>
      <br>
      <div class="pic-and-name">
             <a href="{{ page.image-url }}"><img class="as" src="{{ page.image-url }}"></a> 
          <h1>{{ page.name }}</h1>
          <h3>{{ page.record }}</h3>
      </div>

      <div class="info">
        <p>Time in space: {{ page.time-in-space }}</p>
        <p>Year of record: {{ page.year }} </p>
        <p>Nationality: {{ page.nationality }} </p>
        <p>Date of birth: {{ page.birth }} </p>
      </div>
      <br>
      <br>
      <div class="content">
          {{ content }}
            <br>
            <br>
            <br>
            <p>-> If you would like to learn more about {{ page.name }}’s story and her passion for space, please click on the video below:</p>
            <center>
            <iframe width="420" height="315" src="{{ page.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </center>
      </div>
      <br>
      <br>

  </body>

