---
layout: default
---
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.name }}</title>
  </head>
  
  <body>
      <br>
      <br>
      {% assign astronaut_sorted = site.data.info | find:"name", page.name %}
      <div class="pic-and-name">
             <img class="as" src="{{ page.image-url }}">
          <div class="license">
             <p>source: <a href="{{ astronaut_sorted.image-url }}">{{ astronaut_sorted.image-url }}</a> </p>
             {% if astronaut_sorted.attribution %}
               <p>the image is attributed by <a href="{{ astronaut_sorted.atlink }}">{{ astronaut_sorted.attribution }}</a> under the <a href="{{ astronaut_sorted.cclink }}">{{ astronaut_sorted.license }}</a> license.</p>
             {% endif %} 
          </div>             
          <h1>{{ page.name }}</h1>
          <h3>{{ astronaut_sorted.record }}</h3>
      </div>

      <div class="info">
        <p>Time in space: {{ astronaut_sorted.time-in-space }}</p>
        <p>Year of record: {{ astronaut_sorted.year }} </p>
        <p>Nationality: {{ astronaut_sorted.nationality }} </p>
        <p>Date of birth: {{ astronaut_sorted.birth }} </p>
        <p>Hobbies: {{ astronaut_sorted.hobbies }}</p>
      </div>
      <br>
      <br>
      <div class="content">
          {{ content }}
            <br>
            <br>
            <br>
            <p>-> If you would like to learn more about {{ page.name }}’s story and her passion for space, please click on the video below:</p>
            <center>
            <iframe width="420" height="315" src="{{ page.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>source: <a href="{{ page.video }}">{{ page.video }}</a></p>
            </center>
      </div>
      <br>
      <br>
      <br>
      <br>      
      <div class="references">
        <h3>References:</h3>
        <p><a href="{{ astronaut_sorted.biography-src-1 }}">{{ astronaut_sorted.biography-src-1 }}</a></p>
        {% if astronaut_sorted.biography-src-2 %}
        <p><a href="{{ astronaut_sorted.biography-src-2 }}">{{ astronaut_sorted.biography-src-2 }}</a></p>
        {% endif %}       
      </div>

  </body>

