---
layout: default
---
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.name }}</title>
  </head>
  
  <body>
      <br>
      <br>
      <div class="pic-and-name">
              <img src="{{ page.image-url }}">
          <h1>{{ page.name }}</h1>
          <h3>{{ page.record }}</h3>
      </div>

      <div class="info">
        <p>Time in space: {{ page.time-in-space }}</p>
        <p>Year of record: {{ page.year }} </p>
        <p>Nationality: {{ page.nationality }} </p>
        <p>Date of birth: {{ page.birth }} </p>
      </div>
      <br>
      <br>
      <div class="content">
          {{ content }}
      </div>
  </body>

